$skincolor:#03A9F4;//Theme default color code, paste your own code here
$darkcolor:#01579b; //dark color for heading
$lightcolor:#fff; //white color and background

$table-cells-padding: 8px;
$table-stripes-color: #e1f5fe;

$wiki-actions-button-size: 2.8125em;
$wiki-heading-color: #e1f5fe;
$wiki-list-color: #000;