#wiki-content-main {
	
	overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
	
	img {
		max-width: 100%;
	}

	@import "../../primer/primer-markdown/index";

	pre {
	    border: 1px dashed #2F6FAB;
		margin: 5px 0;
		padding: 0.5em;
	}

	pre[class*="language-"] {
		background: #272822;
	}

	@import "prism";
	
	.wiki-author-details {
	
		ul {
		    display: inline-flex;
		}
		
		ul > li {
			padding-right: 0.5rem;
			color: #647480 !important;
		}
	
	}

	.wiki-header-toolbar {
	
		padding-top: 1rem;	
		padding-bottom: 1.5rem;	
		display: inline-flex;
		margin-left: -0.8rem;
		
		.lexicon-icon-pencil, .lexicon-icon-link, .lexicon-icon-info-circle, .pages-tree {
			fill: #0B63CE;
		}
	
	}
	
	.wiki-footer-toolbar {
	
		padding-top: 1rem;	
		padding-bottom: 2rem;	
		display: inline-flex;
		
		.lexicon-icon-star-o, .lexicon-icon-star {
			fill: #ffdf00;
		}
		
		.thumbs-up-liked {
			fill: #0B63CE;
		}
		
		.lexicon-icon-thumbs-up {
			fill: #B3CDFF;
		}
		
		.lexicon-icon-flag-full, lexicon-icon-flag-empty {
			fill: #0B63CE;
		}
	
	}
	
}