#wiki-content-main {
    overflow-wrap: break-word;
    word-wrap: break-word;

	@import "../../primer/primer-markdown/index";

	pre {
	    border: 1px dashed #2F6FAB;
		margin: 5px 0;
		padding: 0.5em;
	}

	pre[class*="language-"] {
		background: #272822;
	}

	@import "prism";
	
	.wiki-actions {							
		position: fixed;

		margin-left: -4em;
		margin-top: 1em;

		width: $wiki-actions-button-width;
		z-index: 1200;
	
		a {
			color: #01579b;
		}

		.btn {
			border-color: #ccc;
			padding-left: 0.875em;
		}

		.btn:hover {
			background-color: #333;
			border-color: #333;
			color: $white;
		}

		.lexicon-icon {
			height: 1.1875em;
		}
		
		.rating-on {
			color: #00b359;
		}
		
		.inline-item.inline-item-before {
			margin-right: 0.4375em;
		}

		.inline-item.inline-item-before.votes-padding {
			margin-right: 0.1em;
		}

		.taglib-ratings {
			.rating-element {
				padding-left: 0.375em;
			}

			.rating-off {
				opacity: 1;
			}
		}
	}
}