.html-creole-body {
	@import "wiki_headings";

	table {
		border-color: transparent;
	}

	tbody {
		tr {
			border-bottom: 1px solid;
		}

		tr:nth-child(odd) {
			background-color: $table-stripes-color;
			text-align: center;
		}
	}

	td {
		border: none;
		padding: $table-cells-padding;
		text-align: left;
		vertical-align: top;
	}

	th {
		border: none !important;
		font-size: 18px;
		padding: $table-cells-padding;
		text-align: center;
	}

	thead {
		background:  transparent;

		tr {
			border-bottom: 2px solid;
		}
	}

	tr {
		text-align: center;
	}
}