.sidebar { 

	float: left;
	overflow: hidden; 
	-webkit-transition: width .25s linear, opacity .2s linear; 
	transition: width .25s linear, opacity .3s linear; 
	position: relative; 
	padding: 0;
	margin-top: 110px !important; 

	.glyphicon {
		padding-right: 5px;
	}

	.sidebar-box {
		.sbox {
			float: left;
			width: 100%;
		}

		.sbox {

			.list-unstyled {
				float: left;
			}

			.pr10 {
				padding-right: 10px !important;
			}
			.pb10 {
				padding-bottom: 10px !important;
			}
		
			.loadmore {
				padding-bottom: 12px;
			}  

			.contributors-table, .contributors-table td{
				border: none !important;
			}

			.last-td {
				padding-left: 15px;
			}
		}

		.accordion-label {
			width: 100%;
			position: relative;
			cursor: pointer;
			font-size: 1.3em;
			font-weight: 700;
			padding: 10px 0px;
			border-bottom: 1px solid #E7E7ED;
			color: #09101D;
			
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
			
			.lexicon-icon {
				color: #0B63CE;
			}
			
			.lexicon-icon-tag {
			    margin-left: 0.2rem;
				margin-right: 0.1rem;
			}
			
			.lexicon-pages-tree {
				margin-left: 0.2rem;
				margin-bottom: 0.3rem;
			}
			
			.lexicon-icon-document {
			
			}
			
		}
		
		.accordion-label:after {
			content: "\e114";
			top: 0.25rem;
			right: 3rem;
			float: right;
			position: relative;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
		}
		
		.activate:checked + .accordion-label:after {
			content: "\e113";
			top: 2px;
		}
		
		.a-content {
			padding: 0 5px 10px 5px;
			display: block;
		}
		
		.activate:checked ~ .a-content {
			display: none;
		}

	}
}
