@import "wiki_variables";

.portlet-wiki {
	@import "wiki_html_creole.scss";
	@import "wiki_navs";
	
	a, a:hover  {
		color: $wiki-link-color;
	}
	
	.label {
		border: 1px solid #89A7E0 !important;
	}
	
	.label a, .label a:hover {
		text-decoration: none !important;
	}

	ol,ul {
		margin-bottom: 1.5em;
	}
	
	p {
		margin-bottom: 20px;
	}

	.wiki-title {
		color: #09101D;
		font-size: 3.2em;
		font-weight: 700;
		
		line-height: 44px;

		margin-bottom: 32px;
	}
	
	/*
	 * Defined in the Application Display Template
	 */
	.grow-wiki-body {
		@import "wiki_content_main";
		@import "wiki_sidebar";

		@include sm() {
			margin-left: $wiki-content-padding;
		}

		padding: 10px 0 10px $wiki-actions-button-width;

		ol, ul {
			li {
				color: $wiki-list-color
			}
		}

		/*
		 * See the ADT
		 */
		.hidden {
			display: none;
		}
	}

	/*
	 * Applied e.g. on the History tab
	 */
	.lfr-search-container-wrapper a {
		color: $primary; 
	}


	/*
	 * StackEdit: Applied on the edit view
	 */
	.stackedit-button-wrapper {
		padding-top: 1em;

		img {
			width: 2.5em;
			height: 2.5em;
			vertical-align: middle;
			margin-right: 0.33em;
		}
	}
}
