/* Headings */

h1, h2, h3, h4, h5, h6 {
	a {
		all: unset;
	    cursor: pointer;
		
		margin: 0;
		padding: 0;
		border:0;
	}

    color: #060606;
    font-weight: 700;
	letter-spacing: 0.5px;
	
	margin : 12px  0 8px 0;
}

h1 {
    line-height: 44px;

	margin-top: 72px;
	margin-bottom: 24px;

	font-size: 2.6em;
}

h2 {
    font-size: 2.3em;
    line-height: 38px;
	margin-top: 65px;
	margin-bottom: 22px;
}

h3 {
    font-size: 1.6em;
    line-height: 32px;
	margin-top: 58.5px;
	margin-bottom: 19px;
}

h4 {
    font-size: 1.3em;
    line-height: 26px;
	margin-top: 52px;
	margin-bottom: 16px;
}

h5 {
    font-size: 1.2em;
    line-height: 20px;
	margin-top: 46px;
	margin-bottom: 14px;
}

h6 {
	font-size: 1.2em;
    color: #333;
    line-height: 20px;
	margin-top: 46px;
	margin-bottom: 14px;
}
