@import "wiki_variables";

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

.portlet-wiki {
	@import "wiki_navs";

	.lfr-search-container-wrapper a {
		color: $primary; 
	}

	#wikiComments{
		margin-left: $wiki-actions-button-size;
	}

	.stackedit-button-wrapper {
		padding-top: 1em;

		img {
			width: 2.5em;
			height: 2.5em;
			vertical-align: middle;
			margin-right: 0.33em;
		}
	}

	.grow-wiki-body {
		@import "wiki_sidebar";
		@import "wiki_headings";
		@import "wiki_content_main";

		@include sm() {
			margin-left: 60px;
		}

		padding: 10px 0 10px $wiki-actions-button-size;

		ol, ul {
			li {
				color: $wiki-list-color
			}
		}

		/*Prismjs.com*/
		
		pre[class*="language-"] {
			background: #272822;
		}

		.main-content {
		  h1, h2, h3, h4, h5, h6 {
			color: #136a9e;
		  }

		  code {
			font-family: 'Roboto Mono', monospace;
		  }
		}

		.hidden {
			display: none;
		}
	}
}
