@import "wiki_variables";

.portlet-wiki {
	@import "wiki_navs";

	/*
	 * Defined in the Application Display Template
	 */
	.grow-wiki-body {
		@import "wiki_sidebar";
		@import "wiki_content_main";

		@include sm() {
			margin-left: $wiki-content-padding;
		}

		padding: 10px 0 10px $wiki-actions-button-width;

		ol, ul {
			li {
				color: $wiki-list-color
			}
		}

		/*
		 * See the ADT
		 */
		.hidden {
			display: none;
		}
	}

	/*
	 * Applied e.g. on the History tab
	 */
	.lfr-search-container-wrapper a {
		color: $primary; 
	}

	/*
	 * Comments section
	 */
	#wikiComments{
		margin-left: $wiki-actions-button-width;

		@include sm() {
			margin-left: $wiki-content-padding + $wiki-actions-button-width;
		}
	}

	/*
	 * StackEdit: Applied on the edit view
	 */
	.stackedit-button-wrapper {
		padding-top: 1em;

		img {
			width: 2.5em;
			height: 2.5em;
			vertical-align: middle;
			margin-right: 0.33em;
		}
	}
}
