/* Headings */

h1, h2, h3, h4, h5, h6 {
    color: #060606;
    font-weight: 700;
    margin: 0;
    font-family: $primary-font;
}

h1 {
    font-size: 2.56em;
    line-height: 35px;
    margin: 0 0 35px 0;
}

h2 {
    font-size: 2.08em;
    font-weight: 700;
    line-height: 34px;
    margin: 0 0 26px 0;
}

h3 {
    font-size: 1.44em;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 12px;
}
/*use in section headings*/
h3.heading{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 16px;
    padding-bottom: 8px;
    position: relative;
    text-transform: capitalize;
    overflow: hidden;
    vertical-align: middle;
    font-family: $primary-font;
}
h3.heading:after{
    position: relative;
    left: 18px;
    content: "";
    display: inline-block;
    width: 160%;
    vertical-align: middle;
    height: .40em;
    margin: 0 -160% 0 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
h4 {
    font-size: 1.12em;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 21.6px;
    margin: 0 0 11px 0;
}

h5 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 14px 0;
}

h6 {
    color: #333;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 14px 0;
}