$table-cells-padding: 8px;
$table-stripes-color: #e1f5fe;

$wiki-actions-button-width: 3em;
$wiki-content-padding: 4em;
$wiki-heading-color: #e1f5fe;
$wiki-list-color: #000;

$wiki-link-color: #0B63CE;