h4 {
	&.text-default {
		color: #060606;
		font-size: 1.5em;
		font-weight: 600;
		line-height: 2.625em;
		margin: 1em 0 1em 0;
	}
}

fieldset {
	&.add-comment {
		background-color: #b3e5fc;
		border: 1px solid;
		padding: 20px 30px;
		margin-bottom: 50px;
	}
}

.panel-body{
	background-color: $white;

}

.subscribe-link a {
	color: $black
}	