.control-menu{
background-image: linear-gradient(to right, #01579b, #b3e5fc) !important;
}

.control-menu-level-1 > .container-fluid {
    padding: 0.25rem !important;
    line-height: 1.5rem;
}


#wrapper {
  margin-top: 2.5rem !important;
}