.container {
	margin-left: 40px;
	width: auto;
}
.container-fluid-1824 {
	margin-left: auto;
	margin-right: auto;
	max-width: 1824px;
	padding-left: 15px;
	padding-right: 15px;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

	#content .row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.row {
		margin-left: 15px;
		margin-right: 15px;
	}
}

