.portlet-layout .portlet .portlet-title-text {
	color: #000;
	font-weight: 500;
	font-size: 1.8em;
	font-style: normal;
	letter-spacing: normal;
	line-height: 3em;
	margin-bottom: 2em;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 1em;
	position: relative;
	text-transform: capitalize;
	vertical-align: middle;
	width: 100%;
}