.sidebar { 

	float: left;
	overflow: hidden; 
	-webkit-transition: width .25s linear, opacity .2s linear; 
	transition: width .25s linear, opacity .3s linear; 
	position: relative; 
	padding: 0;
	padding-left: 10px;

	a {
		color:$skincolor;
	}

	.sidebar-box {

		.sbox {
			float: left;
			width: 100%;
		}

		.sbox {

			.list-unstyled {
				float: left;
			}

			.pr10 {
				padding-right: 10px !important;
			}
			.pb10 {
				padding-bottom: 10px !important;
			}
		
			.loadmore {
				padding-bottom: 12px;
			}  

			.contributors-table, .contributors-table td{
				border: none !important;
			}

			.last-td {
				padding-left: 15px;
			}
		}

		.accordion-label {
			width: 100%;
			position: relative;
			cursor: pointer;
			font-size: 1.3em;
			font-weight: 700;
			padding: 10px 22px;
			color: #333;
			
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
		
		.accordion-label:before {
			content: "\e113";
			right: 6px;
			top: 4px;
			position: relative;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
		}
		
		.activate:checked + .accordion-label:before {
			content: "\e114";
			top: 2px;
		}
		
		.a-content {
			padding: 0 20px 20px;
			display: block;
		}
		
		.activate:checked ~ .a-content {
			display: none;
		}

	}
}

.sidebar-button { 

	.sidebar-label { 
		cursor: pointer; 
		display: block; 
		padding: 3px 18px;
		text-align: center; 
		width: 40px;
		color:#01579b;
		border: 1px solid #ccc;
		background-color: #fff;
		top: 85px;
		right: 0px;
		position: absolute;
		border-radius: 2px;
		text-transform: uppercase;
	}

	.sidebar-label:before {
		content: "\e080";
		right: 7px;
		top: 4px;
		position: relative;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}

	.sidebar-label:hover { 
		background-color: #333;
		border-color: #333;
		color: #fff;
	}

	#sidebar:checked + .sidebar-label:before {
		content: "\e079";
	}
}