.portlet-wiki {
	fieldset {
		&.add-comment {
			background-color: #b3e5fc;
			padding: 20px 30px;
			margin-bottom: 50px;
		}
	}

	h4 {
		&.text-default {
			color: #060606;
			font-size: 25px;
			font-weight: 600;
			line-height: 42px;
			margin: 15px 0 15px 0;
		}
	}

	.attachments.content {
		> a, > div {
			margin-left: 15px;
		}
	}

	.col-md-4.col-xs-12 {
		display:none;
	}

	.list-group {
		box-shadow: none;

		.list-group-item {
			border: none;
		}
	}

	.owl-theme {
		h3 {
			font-size: 21px;

			a:hover, a:focus {
				color: $skincolor;
				text-decoration: none;
			}
		}

		.owl-controls {
			margin-top: 10px;
			text-align: right;
			position: absolute;
			right:20px;
			bottom: 0px;

			.owl-buttons {
				div {
					padding: 0px;
					@include border-radius(0px);
					background-color: transparent;
					font-size: 30px;
					color: $skincolor;
				}
			}
		}
	}

	.navbar.navbar-default {
		display: none;
	}

	.post-detail{
    	margin-top: 15px;
    	margin-bottom: 15px;
    }

	.sidenav-content {
		.content {
			margin-left: 10px;

			@include sm() {
				margin-left: 50px;	
			}

			h4 {
				margin-left: 15px;
			}
		}

		> h4 {
			margin-left: 25px;

			@include sm() {
				margin-left: 60px;	
			}
		}

		> div:last-child {
			margin-left: 25px;

			@include sm() {
				margin-left: 60px;	
			}
		}
	}

	.wiki-actions {
		margin-left: -45px;
		margin-top: -375px;

		@include sm() {
			margin-left: -60px;
			margin-top: 25px;	
		}

		width: 45px;
		z-index: 1200;

		.taglib-ratings {
			.rating-element {
				padding-right: 5px;

				&.rating-thumb-down {
					margin-left: 0;
				}

				&.btn-block {
					margin: 0;
				}

				&.glyphicon {
					top: 0;
				}

				&.btn {
					font-size: 15px;
				}
			}

			&.like .thumbrating, &.thumbs .thumbrating {
				margin: 0;
			}

			.rating-off {
				opacity: 1;
    		}
		}
	}

	.wiki-content {
		a {
				color: $skincolor;
		}

		a:hover, a:focus {
				color: $graycolor;
		}

		h1, h2, h3, h4, h5, h6 {
			a {
				color: $wiki-heading-color;
			}

			margin : 15px  0 10px 0;
		}

		h1 {
			margin-top: 32px;
		}

		h2 {
			margin-top : 24px;
		}

		h3 {
			font-weight: 700;
		}

		.wiki-actions, h6 {
			a {
				color: $darkcolor;
			}

			.btn:hover, .btn:focus {
				color: $lightcolor
			}
		}


		h4.text-default {
			margin-left: 0
		}

		table {
			border-color: transparent;
		}

		tbody {
			tr {
				border-bottom: 1px solid;
			}

			tr:nth-child(odd) {
				background-color: $table-stripes-color;
				text-align: center;
			}
		}

		td {
			border: none;
			padding: $table-cells-padding;
			text-align: left;
			vertical-align: top;
		}

		th {
			border: none !important;
			font-size: 18px;
			padding: $table-cells-padding;
			text-align: center;
		}

		thead {
			background:  transparent;
			
			tr {
				border-bottom: 2px solid;
			}
		}

		tr {
			text-align: center;
		}
	}

	.wiki-body {
		padding: 10px 0 10px 50px !important;

		ol, ul {
			li {
				color: $wiki-list-color
			} 
		}
	}
}

#portlet_com_liferay_wiki_web_portlet_WikiPortlet {
	.card-horizontal {
		border: none;
	}
}