@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

.portlet-wiki {
	@import "comments";

	.attachments.content {
		> a, > div {
			margin-left: 15px;
		}
	}

	.col-md-4.col-xs-12 {
		display:none;
	}

	.list-group {
		box-shadow: none;

		.list-group-item {
			border: none;
		}
	}

	.card-horizontal {
		border: none;
	}

	.navbar.navbar-default {
		display: none;
	}

	.post-detail{
    	margin-top: 15px;
    	margin-bottom: 15px;
    }

	.sidenav-content {
		.content {
			margin-left: 10px;

			@include sm() {
				margin-left: 50px;
			}

			h4 {
				margin-left: 15px;
			}
		}

		> h4 {
			margin-left: 25px;

			@include sm() {
				margin-left: 60px;
			}
		}

		> div:last-child {
			margin-left: 25px;

			@include sm() {
				margin-left: 60px;
			}
		}

		.wiki-body {
			padding: 10px 0 10px 50px !important;
	
			ol, ul {
				li {
					color: $wiki-list-color
				}
			}

			.sidebar {
				margin-top: 110px !important; 
		  	}
	
			.wiki-content {
				overflow: auto;

				a {
						color: $skincolor;
				}
		
				a:hover, a:focus {
						color: $graycolor;
				}
		
				h1, h2, h3, h4, h5, h6 {
					a {
						color: $wiki-heading-color;
					}
		
					margin : 15px  0 10px 0;
				}
		
				h1 {
					margin-top: 32px;
					margin-bottom: 40px;

					font-size: 3em;
					font-weight: bold;
				}
		
				h2 {
					margin-top : 24px;
				}
		
				h3 {
					font-weight: 700;
				}
			
				h4.text-default {
					margin-left: 0
				}
		
				table {
					border-color: transparent;
				}
		
				tbody {
					tr {
						border-bottom: 1px solid;
					}
		
					tr:nth-child(odd) {
						background-color: $table-stripes-color;
						text-align: center;
					}
				}
		
				td {
					border: none;
					padding: $table-cells-padding;
					text-align: left;
					vertical-align: top;
				}
		
				th {
					border: none !important;
					font-size: 18px;
					padding: $table-cells-padding;
					text-align: center;
				}
		
				thead {
					background:  transparent;
		
					tr {
						border-bottom: 2px solid;
					}
				}
		
				tr {
					text-align: center;
				}

				[id^="section-"] {
					padding-top: 42px;
					margin-top: -28px;
				}
	
				.wiki-actions {							
					position: fixed;

					margin-left: -4em;
					margin-top: 1em;
			
					width: 2.8125em;
					z-index: 1200;
				
					a {
						color: $darkcolor;
					}

					.btn {
						border-color: #ccc;
						padding-left: 0.875em;
					}
		
					.btn:hover {
						background-color: #333;
						border-color: #333;
						color: $lightcolor
					}

					.lexicon-icon {
						height: 1.1875em;
					}
					
					.rating-on {
						color: #00b359;
					}
					
					.inline-item.inline-item-before {
						margin-right: 0.4375em;
					}

					.inline-item.inline-item-before.votes-padding {
						margin-right: 0.25em;
					}

					.taglib-ratings {
						.rating-element {
							padding-left: 0.375em;
						}

						.rating-off {
							opacity: 1;
						}
					}
				}
			}

			pre[class*="language-"] {
				background: #272822;
			}
		}
	}

	.stackedit-button-wrapper {
	  a {
		color:#03a9f4;
		font-size: 0.8em;
		text-decoration: underline;

		&:hover,
		&:focus {
		  text-decoration: none;
		}
	  }

	  img {
		width: 1.6em;
		height: 1.6em;
		vertical-align: bottom;
		margin-right: 0.33em;
	  }
	}

	.main-content {
	  h1, h2, h3, h4, h5, h6 {
		color: #136a9e;
	  }

	  code {
		font-family: 'Roboto Mono', monospace;
	  }
	}

	.glyphicon {
		padding-right: 5px;
	}

	.hidden {
		display: none;
	}
}